@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.whatsapp-button {
  z-index: 999999 !important;
}
.section {
  width: 100%;
  padding: 80px 20px;
  position: relative;
}

.section > * {
  opacity: 0;
  transform: translateY(14px);
  filter: blur(6px);

  transition:
    opacity 0.7s ease,
    transform 0.7s cubic-bezier(0.16, 1, 0.3, 1),
    filter 0.7s ease;

  will-change: opacity, transform, filter;
}

.section.show > * {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}



.container {
  max-width: 1200px;
  margin: 0 auto;
}
