.header {
  position: sticky;
  top: 16px;

  width: calc(100% - 40px);
  margin: 0 auto;

  border-radius: 18px;

  background: rgba(15, 23, 42, 0.75);
  backdrop-filter: blur(16px);

  border: 1px solid rgba(255, 255, 255, 0.08);

  z-index: 1000;

  transition: all 0.3s ease;
}

.navbar > .container {
  min-height: 72px;
}

.logo-img {
  width: 160px;
  height: auto;

  color: white;
}

.navbar-nav {
  gap: 1.8rem;
}

.nav-link {
  color: #e2e8f0 !important;

  font-size: 0.95rem;
  font-weight: 500;

  transition: 0.3s;
}

.nav-link:hover {
  color: #8cb38f !important;
}

.navbar-toggler {
  background: transparent !important;
  border: none !important;
}

.navbar-toggler-icon {
  filter: brightness(0) invert(1);
  opacity: 1;
   filter: brightness(0) invert(1)
          drop-shadow(0 0 3px rgba(255,255,255,0.5));
}

.btn-consulta {
  background: #8cb38f !important;
  border: none !important;

  padding: 12px 24px !important;
  border-radius: 999px !important;

  font-weight: 600 !important;

  transition: 0.3s ease;
}

.btn-consulta:hover {
  transform: translateY(-2px);
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}